2bounce_notice_recipient = {{ dx_postfix_two_bounce_notice_recipient }}
access_map_defer_code = {{ dx_postfix_access_map_defer_code }}
access_map_reject_code = {{ dx_postfix_access_map_reject_code }}
address_verify_cache_cleanup_interval = {{ dx_postfix_address_verify_cache_cleanup_interval }}
address_verify_default_transport = {{ dx_postfix_address_verify_default_transport }}
address_verify_local_transport = {{ dx_postfix_address_verify_local_transport }}
address_verify_map = {{ dx_postfix_address_verify_map }}
address_verify_negative_cache = {{ dx_postfix_address_verify_negative_cache }}
address_verify_negative_expire_time = {{ dx_postfix_address_verify_negative_expire_time }}
address_verify_negative_refresh_time = {{ dx_postfix_address_verify_negative_refresh_time }}
address_verify_pending_request_limit = {{ dx_postfix_address_verify_pending_request_limit }}
address_verify_poll_count = {{ dx_postfix_address_verify_poll_count }}
address_verify_poll_delay = {{ dx_postfix_address_verify_poll_delay }}
address_verify_positive_expire_time = {{ dx_postfix_address_verify_positive_expire_time }}
address_verify_positive_refresh_time = {{ dx_postfix_address_verify_positive_refresh_time }}
address_verify_relay_transport = {{ dx_postfix_address_verify_relay_transport }}
address_verify_relayhost = {{ dx_postfix_address_verify_relayhost }}
address_verify_sender = {{ dx_postfix_address_verify_sender }}
address_verify_sender_dependent_default_transport_maps = {{ dx_postfix_address_verify_sender_dependent_default_transport_maps }}
address_verify_sender_dependent_relayhost_maps = {{ dx_postfix_address_verify_sender_dependent_relayhost_maps }}
address_verify_sender_ttl = {{ dx_postfix_address_verify_sender_ttl }}
address_verify_service_name = {{ dx_postfix_address_verify_service_name }}
address_verify_transport_maps = {{ dx_postfix_address_verify_transport_maps }}
address_verify_virtual_transport = {{ dx_postfix_address_verify_virtual_transport }}
alias_database = {{ dx_postfix_alias_database }}
alias_maps = {{ dx_postfix_alias_maps }}
allow_mail_to_commands = {{ dx_postfix_allow_mail_to_commands }}
allow_mail_to_files = {{ dx_postfix_allow_mail_to_files }}
allow_min_user = {{ dx_postfix_allow_min_user }}
allow_percent_hack = {{ dx_postfix_allow_percent_hack }}
allow_untrusted_routing = {{ dx_postfix_allow_untrusted_routing }}
alternate_config_directories = {{ dx_postfix_alternate_config_directories }}
always_add_missing_headers = {{ dx_postfix_always_add_missing_headers }}
always_bcc = {{ dx_postfix_always_bcc }}
anvil_rate_time_unit = {{ dx_postfix_anvil_rate_time_unit }}
anvil_status_update_time = {{ dx_postfix_anvil_status_update_time }}
append_at_myorigin = {{ dx_postfix_append_at_myorigin }}
append_dot_mydomain = {{ dx_postfix_append_dot_mydomain }}
application_event_drain_time = {{ dx_postfix_application_event_drain_time }}
authorized_flush_users = {{ dx_postfix_authorized_flush_users }}
authorized_mailq_users = {{ dx_postfix_authorized_mailq_users }}
authorized_submit_users = {{ dx_postfix_authorized_submit_users }}
backwards_bounce_logfile_compatibility = {{ dx_postfix_backwards_bounce_logfile_compatibility }}
berkeley_db_create_buffer_size = {{ dx_postfix_berkeley_db_create_buffer_size }}
berkeley_db_read_buffer_size = {{ dx_postfix_berkeley_db_read_buffer_size }}
best_mx_transport = {{ dx_postfix_best_mx_transport }}
biff = {{ dx_postfix_biff }}
body_checks = {{ dx_postfix_body_checks }}
body_checks_size_limit = {{ dx_postfix_body_checks_size_limit }}
bounce_notice_recipient = {{ dx_postfix_bounce_notice_recipient }}
bounce_queue_lifetime = {{ dx_postfix_bounce_queue_lifetime }}
bounce_service_name = {{ dx_postfix_bounce_service_name }}
bounce_size_limit = {{ dx_postfix_bounce_size_limit }}
bounce_template_file = {{ dx_postfix_bounce_template_file }}
broken_sasl_auth_clients = {{ dx_postfix_broken_sasl_auth_clients }}
canonical_classes = {{ dx_postfix_canonical_classes }}
canonical_maps = {{ dx_postfix_canonical_maps }}
cleanup_service_name = {{ dx_postfix_cleanup_service_name }}
command_directory = {{ dx_postfix_command_directory }}
command_execution_directory = {{ dx_postfix_command_execution_directory }}
command_expansion_filter = {{ dx_postfix_command_expansion_filter }}
command_time_limit = {{ dx_postfix_command_time_limit }}
compatibility_level = {{ dx_postfix_compatibility_level }}
config_directory = {{ dx_postfix_config_directory }}
confirm_delay_cleared = {{ dx_postfix_confirm_delay_cleared }}
connection_cache_protocol_timeout = {{ dx_postfix_connection_cache_protocol_timeout }}
connection_cache_service_name = {{ dx_postfix_connection_cache_service_name }}
connection_cache_status_update_time = {{ dx_postfix_connection_cache_status_update_time }}
connection_cache_ttl_limit = {{ dx_postfix_connection_cache_ttl_limit }}
content_filter = {{ dx_postfix_content_filter }}
cyrus_sasl_config_path = {{ dx_postfix_cyrus_sasl_config_path }}
daemon_directory = {{ dx_postfix_daemon_directory }}
daemon_table_open_error_is_fatal = {{ dx_postfix_daemon_table_open_error_is_fatal }}
daemon_timeout = {{ dx_postfix_daemon_timeout }}
data_directory = {{ dx_postfix_data_directory }}
debug_peer_level = {{ dx_postfix_debug_peer_level }}
debug_peer_list = {{ dx_postfix_debug_peer_list }}
debugger_command = {{ dx_postfix_debugger_command }}
default_database_type = {{ dx_postfix_default_database_type }}
default_delivery_slot_cost = {{ dx_postfix_default_delivery_slot_cost }}
default_delivery_slot_discount = {{ dx_postfix_default_delivery_slot_discount }}
default_delivery_slot_loan = {{ dx_postfix_default_delivery_slot_loan }}
default_delivery_status_filter = {{ dx_postfix_default_delivery_status_filter }}
default_destination_concurrency_failed_cohort_limit = {{ dx_postfix_default_destination_concurrency_failed_cohort_limit }}
default_destination_concurrency_limit = {{ dx_postfix_default_destination_concurrency_limit }}
default_destination_concurrency_negative_feedback = {{ dx_postfix_default_destination_concurrency_negative_feedback }}
default_destination_concurrency_positive_feedback = {{ dx_postfix_default_destination_concurrency_positive_feedback }}
default_destination_rate_delay = {{ dx_postfix_default_destination_rate_delay }}
default_destination_recipient_limit = {{ dx_postfix_default_destination_recipient_limit }}
default_extra_recipient_limit = {{ dx_postfix_default_extra_recipient_limit }}
default_filter_nexthop = {{ dx_postfix_default_filter_nexthop }}
default_minimum_delivery_slots = {{ dx_postfix_default_minimum_delivery_slots }}
default_privs = {{ dx_postfix_default_privs }}
default_process_limit = {{ dx_postfix_default_process_limit }}
default_rbl_reply = {{ dx_postfix_default_rbl_reply }}
default_recipient_limit = {{ dx_postfix_default_recipient_limit }}
default_recipient_refill_delay = {{ dx_postfix_default_recipient_refill_delay }}
default_recipient_refill_limit = {{ dx_postfix_default_recipient_refill_limit }}
default_transport = {{ dx_postfix_default_transport }}
default_transport_rate_delay = {{ dx_postfix_default_transport_rate_delay }}
default_verp_delimiters = {{ dx_postfix_default_verp_delimiters }}
defer_code = {{ dx_postfix_defer_code }}
defer_service_name = {{ dx_postfix_defer_service_name }}
defer_transports = {{ dx_postfix_defer_transports }}
delay_logging_resolution_limit = {{ dx_postfix_delay_logging_resolution_limit }}
delay_notice_recipient = {{ dx_postfix_delay_notice_recipient }}
delay_warning_time = {{ dx_postfix_delay_warning_time }}
deliver_lock_attempts = {{ dx_postfix_deliver_lock_attempts }}
deliver_lock_delay = {{ dx_postfix_deliver_lock_delay }}
destination_concurrency_feedback_debug = {{ dx_postfix_destination_concurrency_feedback_debug }}
detect_8bit_encoding_header = {{ dx_postfix_detect_8bit_encoding_header }}
disable_dns_lookups = {{ dx_postfix_disable_dns_lookups }}
disable_mime_input_processing = {{ dx_postfix_disable_mime_input_processing }}
disable_mime_output_conversion = {{ dx_postfix_disable_mime_output_conversion }}
disable_verp_bounces = {{ dx_postfix_disable_verp_bounces }}
disable_vrfy_command = {{ dx_postfix_disable_vrfy_command }}
dns_ncache_ttl_fix_enable = {{ dx_postfix_dns_ncache_ttl_fix_enable }}
dnsblog_reply_delay = {{ dx_postfix_dnsblog_reply_delay }}
dnsblog_service_name = {{ dx_postfix_dnsblog_service_name }}
dont_remove = {{ dx_postfix_dont_remove }}
double_bounce_sender = {{ dx_postfix_double_bounce_sender }}
duplicate_filter_limit = {{ dx_postfix_duplicate_filter_limit }}
empty_address_default_transport_maps_lookup_key = {{ dx_postfix_empty_address_default_transport_maps_lookup_key }}
empty_address_recipient = {{ dx_postfix_empty_address_recipient }}
empty_address_relayhost_maps_lookup_key = {{ dx_postfix_empty_address_relayhost_maps_lookup_key }}
enable_idna2003_compatibility = {{ dx_postfix_enable_idna2003_compatibility }}
enable_long_queue_ids = {{ dx_postfix_enable_long_queue_ids }}
enable_original_recipient = {{ dx_postfix_enable_original_recipient }}
error_delivery_slot_cost = {{ dx_postfix_error_delivery_slot_cost }}
error_delivery_slot_discount = {{ dx_postfix_error_delivery_slot_discount }}
error_delivery_slot_loan = {{ dx_postfix_error_delivery_slot_loan }}
error_destination_concurrency_failed_cohort_limit = {{ dx_postfix_error_destination_concurrency_failed_cohort_limit }}
error_destination_concurrency_limit = {{ dx_postfix_error_destination_concurrency_limit }}
error_destination_concurrency_negative_feedback = {{ dx_postfix_error_destination_concurrency_negative_feedback }}
error_destination_concurrency_positive_feedback = {{ dx_postfix_error_destination_concurrency_positive_feedback }}
error_destination_rate_delay = {{ dx_postfix_error_destination_rate_delay }}
error_destination_recipient_limit = {{ dx_postfix_error_destination_recipient_limit }}
error_extra_recipient_limit = {{ dx_postfix_error_extra_recipient_limit }}
error_initial_destination_concurrency = {{ dx_postfix_error_initial_destination_concurrency }}
error_minimum_delivery_slots = {{ dx_postfix_error_minimum_delivery_slots }}
error_notice_recipient = {{ dx_postfix_error_notice_recipient }}
error_recipient_limit = {{ dx_postfix_error_recipient_limit }}
error_recipient_refill_delay = {{ dx_postfix_error_recipient_refill_delay }}
error_recipient_refill_limit = {{ dx_postfix_error_recipient_refill_limit }}
error_service_name = {{ dx_postfix_error_service_name }}
error_transport_rate_delay = {{ dx_postfix_error_transport_rate_delay }}
execution_directory_expansion_filter = {{ dx_postfix_execution_directory_expansion_filter }}
expand_owner_alias = {{ dx_postfix_expand_owner_alias }}
export_environment = {{ dx_postfix_export_environment }}
fallback_transport = {{ dx_postfix_fallback_transport }}
fallback_transport_maps = {{ dx_postfix_fallback_transport_maps }}
fast_flush_domains = {{ dx_postfix_fast_flush_domains }}
fast_flush_purge_time = {{ dx_postfix_fast_flush_purge_time }}
fast_flush_refresh_time = {{ dx_postfix_fast_flush_refresh_time }}
fault_injection_code = {{ dx_postfix_fault_injection_code }}
flush_service_name = {{ dx_postfix_flush_service_name }}
fork_attempts = {{ dx_postfix_fork_attempts }}
fork_delay = {{ dx_postfix_fork_delay }}
forward_expansion_filter = {{ dx_postfix_forward_expansion_filter }}
forward_path = {{ dx_postfix_forward_path }}
frozen_delivered_to = {{ dx_postfix_frozen_delivered_to }}
hash_queue_depth = {{ dx_postfix_hash_queue_depth }}
hash_queue_names = {{ dx_postfix_hash_queue_names }}
header_address_token_limit = {{ dx_postfix_header_address_token_limit }}
header_checks = {{ dx_postfix_header_checks }}
header_from_format = {{ dx_postfix_header_from_format }}
header_size_limit = {{ dx_postfix_header_size_limit }}
helpful_warnings = {{ dx_postfix_helpful_warnings }}
home_mailbox = {{ dx_postfix_home_mailbox }}
hopcount_limit = {{ dx_postfix_hopcount_limit }}
html_directory = {{ dx_postfix_html_directory }}
ignore_mx_lookup_error = {{ dx_postfix_ignore_mx_lookup_error }}
import_environment = {{ dx_postfix_import_environment }}
in_flow_delay = {{ dx_postfix_in_flow_delay }}
inet_interfaces = {{ dx_postfix_inet_interfaces }}
inet_protocols = {{ dx_postfix_inet_protocols }}
info_log_address_format = {{ dx_postfix_info_log_address_format }}
initial_destination_concurrency = {{ dx_postfix_initial_destination_concurrency }}
internal_mail_filter_classes = {{ dx_postfix_internal_mail_filter_classes }}
invalid_hostname_reject_code = {{ dx_postfix_invalid_hostname_reject_code }}
ipc_idle = {{ dx_postfix_ipc_idle }}
ipc_timeout = {{ dx_postfix_ipc_timeout }}
ipc_ttl = {{ dx_postfix_ipc_ttl }}
line_length_limit = {{ dx_postfix_line_length_limit }}
lmdb_map_size = {{ dx_postfix_lmdb_map_size }}
lmtp_address_preference = {{ dx_postfix_lmtp_address_preference }}
lmtp_address_verify_target = {{ dx_postfix_lmtp_address_verify_target }}
lmtp_assume_final = {{ dx_postfix_lmtp_assume_final }}
lmtp_balance_inet_protocols = {{ dx_postfix_lmtp_balance_inet_protocols }}
lmtp_bind_address = {{ dx_postfix_lmtp_bind_address }}
lmtp_bind_address6 = {{ dx_postfix_lmtp_bind_address6 }}
lmtp_body_checks = {{ dx_postfix_lmtp_body_checks }}
lmtp_cname_overrides_servername = {{ dx_postfix_lmtp_cname_overrides_servername }}
lmtp_connect_timeout = {{ dx_postfix_lmtp_connect_timeout }}
lmtp_connection_cache_destinations = {{ dx_postfix_lmtp_connection_cache_destinations }}
lmtp_connection_cache_on_demand = {{ dx_postfix_lmtp_connection_cache_on_demand }}
lmtp_connection_cache_time_limit = {{ dx_postfix_lmtp_connection_cache_time_limit }}
lmtp_connection_reuse_count_limit = {{ dx_postfix_lmtp_connection_reuse_count_limit }}
lmtp_connection_reuse_time_limit = {{ dx_postfix_lmtp_connection_reuse_time_limit }}
lmtp_data_done_timeout = {{ dx_postfix_lmtp_data_done_timeout }}
lmtp_data_init_timeout = {{ dx_postfix_lmtp_data_init_timeout }}
lmtp_data_xfer_timeout = {{ dx_postfix_lmtp_data_xfer_timeout }}
lmtp_defer_if_no_mx_address_found = {{ dx_postfix_lmtp_defer_if_no_mx_address_found }}
lmtp_delivery_slot_cost = {{ dx_postfix_lmtp_delivery_slot_cost }}
lmtp_delivery_slot_discount = {{ dx_postfix_lmtp_delivery_slot_discount }}
lmtp_delivery_slot_loan = {{ dx_postfix_lmtp_delivery_slot_loan }}
lmtp_delivery_status_filter = {{ dx_postfix_lmtp_delivery_status_filter }}
lmtp_destination_concurrency_failed_cohort_limit = {{ dx_postfix_lmtp_destination_concurrency_failed_cohort_limit }}
lmtp_destination_concurrency_limit = {{ dx_postfix_lmtp_destination_concurrency_limit }}
lmtp_destination_concurrency_negative_feedback = {{ dx_postfix_lmtp_destination_concurrency_negative_feedback }}
lmtp_destination_concurrency_positive_feedback = {{ dx_postfix_lmtp_destination_concurrency_positive_feedback }}
lmtp_destination_rate_delay = {{ dx_postfix_lmtp_destination_rate_delay }}
lmtp_destination_recipient_limit = {{ dx_postfix_lmtp_destination_recipient_limit }}
lmtp_discard_lhlo_keyword_address_maps = {{ dx_postfix_lmtp_discard_lhlo_keyword_address_maps }}
lmtp_discard_lhlo_keywords = {{ dx_postfix_lmtp_discard_lhlo_keywords }}
lmtp_dns_reply_filter = {{ dx_postfix_lmtp_dns_reply_filter }}
lmtp_dns_resolver_options = {{ dx_postfix_lmtp_dns_resolver_options }}
lmtp_dns_support_level = {{ dx_postfix_lmtp_dns_support_level }}
lmtp_enforce_tls = {{ dx_postfix_lmtp_enforce_tls }}
lmtp_extra_recipient_limit = {{ dx_postfix_lmtp_extra_recipient_limit }}
lmtp_fallback_relay = {{ dx_postfix_lmtp_fallback_relay }}
lmtp_generic_maps = {{ dx_postfix_lmtp_generic_maps }}
lmtp_header_checks = {{ dx_postfix_lmtp_header_checks }}
lmtp_host_lookup = {{ dx_postfix_lmtp_host_lookup }}
lmtp_initial_destination_concurrency = {{ dx_postfix_lmtp_initial_destination_concurrency }}
lmtp_lhlo_name = {{ dx_postfix_lmtp_lhlo_name }}
lmtp_lhlo_timeout = {{ dx_postfix_lmtp_lhlo_timeout }}
lmtp_line_length_limit = {{ dx_postfix_lmtp_line_length_limit }}
lmtp_mail_timeout = {{ dx_postfix_lmtp_mail_timeout }}
lmtp_mime_header_checks = {{ dx_postfix_lmtp_mime_header_checks }}
lmtp_minimum_delivery_slots = {{ dx_postfix_lmtp_minimum_delivery_slots }}
lmtp_mx_address_limit = {{ dx_postfix_lmtp_mx_address_limit }}
lmtp_mx_session_limit = {{ dx_postfix_lmtp_mx_session_limit }}
lmtp_nested_header_checks = {{ dx_postfix_lmtp_nested_header_checks }}
lmtp_per_record_deadline = {{ dx_postfix_lmtp_per_record_deadline }}
lmtp_pix_workaround_delay_time = {{ dx_postfix_lmtp_pix_workaround_delay_time }}
lmtp_pix_workaround_maps = {{ dx_postfix_lmtp_pix_workaround_maps }}
lmtp_pix_workaround_threshold_time = {{ dx_postfix_lmtp_pix_workaround_threshold_time }}
lmtp_pix_workarounds = {{ dx_postfix_lmtp_pix_workarounds }}
lmtp_quit_timeout = {{ dx_postfix_lmtp_quit_timeout }}
lmtp_quote_rfc821_envelope = {{ dx_postfix_lmtp_quote_rfc821_envelope }}
lmtp_randomize_addresses = {{ dx_postfix_lmtp_randomize_addresses }}
lmtp_rcpt_timeout = {{ dx_postfix_lmtp_rcpt_timeout }}
lmtp_recipient_limit = {{ dx_postfix_lmtp_recipient_limit }}
lmtp_recipient_refill_delay = {{ dx_postfix_lmtp_recipient_refill_delay }}
lmtp_recipient_refill_limit = {{ dx_postfix_lmtp_recipient_refill_limit }}
lmtp_reply_filter = {{ dx_postfix_lmtp_reply_filter }}
lmtp_rset_timeout = {{ dx_postfix_lmtp_rset_timeout }}
lmtp_sasl_auth_cache_name = {{ dx_postfix_lmtp_sasl_auth_cache_name }}
lmtp_sasl_auth_cache_time = {{ dx_postfix_lmtp_sasl_auth_cache_time }}
lmtp_sasl_auth_enable = {{ dx_postfix_lmtp_sasl_auth_enable }}
lmtp_sasl_auth_soft_bounce = {{ dx_postfix_lmtp_sasl_auth_soft_bounce }}
lmtp_sasl_mechanism_filter = {{ dx_postfix_lmtp_sasl_mechanism_filter }}
lmtp_sasl_password_maps = {{ dx_postfix_lmtp_sasl_password_maps }}
lmtp_sasl_path = {{ dx_postfix_lmtp_sasl_path }}
lmtp_sasl_security_options = {{ dx_postfix_lmtp_sasl_security_options }}
lmtp_sasl_tls_security_options = {{ dx_postfix_lmtp_sasl_tls_security_options }}
lmtp_sasl_tls_verified_security_options = {{ dx_postfix_lmtp_sasl_tls_verified_security_options }}
lmtp_sasl_type = {{ dx_postfix_lmtp_sasl_type }}
lmtp_send_dummy_mail_auth = {{ dx_postfix_lmtp_send_dummy_mail_auth }}
lmtp_send_xforward_command = {{ dx_postfix_lmtp_send_xforward_command }}
lmtp_sender_dependent_authentication = {{ dx_postfix_lmtp_sender_dependent_authentication }}
lmtp_skip_5xx_greeting = {{ dx_postfix_lmtp_skip_5xx_greeting }}
lmtp_skip_quit_response = {{ dx_postfix_lmtp_skip_quit_response }}
lmtp_starttls_timeout = {{ dx_postfix_lmtp_starttls_timeout }}
lmtp_tcp_port = {{ dx_postfix_lmtp_tcp_port }}
lmtp_tls_CAfile = {{ dx_postfix_lmtp_tls_CAfile }}
lmtp_tls_CApath = {{ dx_postfix_lmtp_tls_CApath }}
lmtp_tls_block_early_mail_reply = {{ dx_postfix_lmtp_tls_block_early_mail_reply }}
lmtp_tls_cert_file = {{ dx_postfix_lmtp_tls_cert_file }}
lmtp_tls_chain_files = {{ dx_postfix_lmtp_tls_chain_files }}
lmtp_tls_ciphers = {{ dx_postfix_lmtp_tls_ciphers }}
lmtp_tls_connection_reuse = {{ dx_postfix_lmtp_tls_connection_reuse }}
lmtp_tls_dcert_file = {{ dx_postfix_lmtp_tls_dcert_file }}
lmtp_tls_dkey_file = {{ dx_postfix_lmtp_tls_dkey_file }}
lmtp_tls_eccert_file = {{ dx_postfix_lmtp_tls_eccert_file }}
lmtp_tls_eckey_file = {{ dx_postfix_lmtp_tls_eckey_file }}
lmtp_tls_enforce_peername = {{ dx_postfix_lmtp_tls_enforce_peername }}
lmtp_tls_exclude_ciphers = {{ dx_postfix_lmtp_tls_exclude_ciphers }}
lmtp_tls_fingerprint_cert_match = {{ dx_postfix_lmtp_tls_fingerprint_cert_match }}
lmtp_tls_fingerprint_digest = {{ dx_postfix_lmtp_tls_fingerprint_digest }}
lmtp_tls_force_insecure_host_tlsa_lookup = {{ dx_postfix_lmtp_tls_force_insecure_host_tlsa_lookup }}
lmtp_tls_key_file = {{ dx_postfix_lmtp_tls_key_file }}
lmtp_tls_loglevel = {{ dx_postfix_lmtp_tls_loglevel }}
lmtp_tls_mandatory_ciphers = {{ dx_postfix_lmtp_tls_mandatory_ciphers }}
lmtp_tls_mandatory_exclude_ciphers = {{ dx_postfix_lmtp_tls_mandatory_exclude_ciphers }}
lmtp_tls_mandatory_protocols = {{ dx_postfix_lmtp_tls_mandatory_protocols }}
lmtp_tls_note_starttls_offer = {{ dx_postfix_lmtp_tls_note_starttls_offer }}
lmtp_tls_per_site = {{ dx_postfix_lmtp_tls_per_site }}
lmtp_tls_policy_maps = {{ dx_postfix_lmtp_tls_policy_maps }}
lmtp_tls_protocols = {{ dx_postfix_lmtp_tls_protocols }}
lmtp_tls_scert_verifydepth = {{ dx_postfix_lmtp_tls_scert_verifydepth }}
lmtp_tls_secure_cert_match = {{ dx_postfix_lmtp_tls_secure_cert_match }}
lmtp_tls_security_level = {{ dx_postfix_lmtp_tls_security_level }}
lmtp_tls_servername = {{ dx_postfix_lmtp_tls_servername }}
lmtp_tls_session_cache_database = {{ dx_postfix_lmtp_tls_session_cache_database }}
lmtp_tls_session_cache_timeout = {{ dx_postfix_lmtp_tls_session_cache_timeout }}
lmtp_tls_trust_anchor_file = {{ dx_postfix_lmtp_tls_trust_anchor_file }}
lmtp_tls_verify_cert_match = {{ dx_postfix_lmtp_tls_verify_cert_match }}
lmtp_tls_wrappermode = {{ dx_postfix_lmtp_tls_wrappermode }}
lmtp_transport_rate_delay = {{ dx_postfix_lmtp_transport_rate_delay }}
lmtp_use_tls = {{ dx_postfix_lmtp_use_tls }}
lmtp_xforward_timeout = {{ dx_postfix_lmtp_xforward_timeout }}
local_command_shell = {{ dx_postfix_local_command_shell }}
local_delivery_slot_cost = {{ dx_postfix_local_delivery_slot_cost }}
local_delivery_slot_discount = {{ dx_postfix_local_delivery_slot_discount }}
local_delivery_slot_loan = {{ dx_postfix_local_delivery_slot_loan }}
local_delivery_status_filter = {{ dx_postfix_local_delivery_status_filter }}
local_destination_concurrency_failed_cohort_limit = {{ dx_postfix_local_destination_concurrency_failed_cohort_limit }}
local_destination_concurrency_limit = {{ dx_postfix_local_destination_concurrency_limit }}
local_destination_concurrency_negative_feedback = {{ dx_postfix_local_destination_concurrency_negative_feedback }}
local_destination_concurrency_positive_feedback = {{ dx_postfix_local_destination_concurrency_positive_feedback }}
local_destination_rate_delay = {{ dx_postfix_local_destination_rate_delay }}
local_destination_recipient_limit = {{ dx_postfix_local_destination_recipient_limit }}
local_extra_recipient_limit = {{ dx_postfix_local_extra_recipient_limit }}
local_header_rewrite_clients = {{ dx_postfix_local_header_rewrite_clients }}
local_initial_destination_concurrency = {{ dx_postfix_local_initial_destination_concurrency }}
local_minimum_delivery_slots = {{ dx_postfix_local_minimum_delivery_slots }}
local_recipient_limit = {{ dx_postfix_local_recipient_limit }}
local_recipient_maps = {{ dx_postfix_local_recipient_maps }}
local_recipient_refill_delay = {{ dx_postfix_local_recipient_refill_delay }}
local_recipient_refill_limit = {{ dx_postfix_local_recipient_refill_limit }}
local_transport = {{ dx_postfix_local_transport }}
local_transport_rate_delay = {{ dx_postfix_local_transport_rate_delay }}
luser_relay = {{ dx_postfix_luser_relay }}
mail_name = {{ dx_postfix_mail_name }}
mail_owner = {{ dx_postfix_mail_owner }}
mail_release_date = {{ dx_postfix_mail_release_date }}
mail_spool_directory = {{ dx_postfix_mail_spool_directory }}
mail_version = {{ dx_postfix_mail_version }}
mailbox_command = {{ dx_postfix_mailbox_command }}
mailbox_command_maps = {{ dx_postfix_mailbox_command_maps }}
mailbox_delivery_lock = {{ dx_postfix_mailbox_delivery_lock }}
mailbox_size_limit = {{ dx_postfix_mailbox_size_limit }}
mailbox_transport = {{ dx_postfix_mailbox_transport }}
mailbox_transport_maps = {{ dx_postfix_mailbox_transport_maps }}
maillog_file = {{ dx_postfix_maillog_file }}
maillog_file_compressor = {{ dx_postfix_maillog_file_compressor }}
maillog_file_prefixes = {{ dx_postfix_maillog_file_prefixes }}
maillog_file_rotate_suffix = {{ dx_postfix_maillog_file_rotate_suffix }}
mailq_path = {{ dx_postfix_mailq_path }}
manpage_directory = {{ dx_postfix_manpage_directory }}
maps_rbl_domains = {{ dx_postfix_maps_rbl_domains }}
maps_rbl_reject_code = {{ dx_postfix_maps_rbl_reject_code }}
masquerade_classes = {{ dx_postfix_masquerade_classes }}
masquerade_domains = {{ dx_postfix_masquerade_domains }}
masquerade_exceptions = {{ dx_postfix_masquerade_exceptions }}
master_service_disable = {{ dx_postfix_master_service_disable }}
max_idle = {{ dx_postfix_max_idle }}
max_use = {{ dx_postfix_max_use }}
maximal_backoff_time = {{ dx_postfix_maximal_backoff_time }}
maximal_queue_lifetime = {{ dx_postfix_maximal_queue_lifetime }}
message_drop_headers = {{ dx_postfix_message_drop_headers }}
message_reject_characters = {{ dx_postfix_message_reject_characters }}
message_size_limit = {{ dx_postfix_message_size_limit }}
message_strip_characters = {{ dx_postfix_message_strip_characters }}
meta_directory = {{ dx_postfix_meta_directory }}
milter_command_timeout = {{ dx_postfix_milter_command_timeout }}
milter_connect_macros = {{ dx_postfix_milter_connect_macros }}
milter_connect_timeout = {{ dx_postfix_milter_connect_timeout }}
milter_content_timeout = {{ dx_postfix_milter_content_timeout }}
milter_data_macros = {{ dx_postfix_milter_data_macros }}
milter_default_action = {{ dx_postfix_milter_default_action }}
milter_end_of_data_macros = {{ dx_postfix_milter_end_of_data_macros }}
milter_end_of_header_macros = {{ dx_postfix_milter_end_of_header_macros }}
milter_header_checks = {{ dx_postfix_milter_header_checks }}
milter_helo_macros = {{ dx_postfix_milter_helo_macros }}
milter_macro_daemon_name = {{ dx_postfix_milter_macro_daemon_name }}
milter_macro_defaults = {{ dx_postfix_milter_macro_defaults }}
milter_macro_v = {{ dx_postfix_milter_macro_v }}
milter_mail_macros = {{ dx_postfix_milter_mail_macros }}
milter_protocol = {{ dx_postfix_milter_protocol }}
milter_rcpt_macros = {{ dx_postfix_milter_rcpt_macros }}
milter_unknown_command_macros = {{ dx_postfix_milter_unknown_command_macros }}
mime_boundary_length_limit = {{ dx_postfix_mime_boundary_length_limit }}
mime_header_checks = {{ dx_postfix_mime_header_checks }}
mime_nesting_limit = {{ dx_postfix_mime_nesting_limit }}
minimal_backoff_time = {{ dx_postfix_minimal_backoff_time }}
multi_instance_directories = {{ dx_postfix_multi_instance_directories }}
multi_instance_enable = {{ dx_postfix_multi_instance_enable }}
multi_instance_group = {{ dx_postfix_multi_instance_group }}
multi_instance_name = {{ dx_postfix_multi_instance_name }}
multi_instance_wrapper = {{ dx_postfix_multi_instance_wrapper }}
multi_recipient_bounce_reject_code = {{ dx_postfix_multi_recipient_bounce_reject_code }}
mydestination = {{ dx_postfix_mydestination }}
mydomain = {{ dx_postfix_mydomain }}
myhostname = {{ dx_postfix_myhostname }}
mynetworks = {{ dx_postfix_mynetworks }}
mynetworks_style = {{ dx_postfix_mynetworks_style }}
myorigin = {{ dx_postfix_myorigin }}
nested_header_checks = {{ dx_postfix_nested_header_checks }}
newaliases_path = {{ dx_postfix_newaliases_path }}
non_fqdn_reject_code = {{ dx_postfix_non_fqdn_reject_code }}
non_smtpd_milters = {{ dx_postfix_non_smtpd_milters }}
notify_classes = {{ dx_postfix_notify_classes }}
openssl_path = {{ dx_postfix_openssl_path }}
owner_request_special = {{ dx_postfix_owner_request_special }}
parent_domain_matches_subdomains = {{ dx_postfix_parent_domain_matches_subdomains }}
permit_mx_backup_networks = {{ dx_postfix_permit_mx_backup_networks }}
pickup_service_name = {{ dx_postfix_pickup_service_name }}
pipe_delivery_status_filter = {{ dx_postfix_pipe_delivery_status_filter }}
plaintext_reject_code = {{ dx_postfix_plaintext_reject_code }}
postlog_service_name = {{ dx_postfix_postlog_service_name }}
postlogd_watchdog_timeout = {{ dx_postfix_postlogd_watchdog_timeout }}
postmulti_control_commands = {{ dx_postfix_postmulti_control_commands }}
postmulti_start_commands = {{ dx_postfix_postmulti_start_commands }}
postmulti_stop_commands = {{ dx_postfix_postmulti_stop_commands }}
postscreen_access_list = {{ dx_postfix_postscreen_access_list }}
postscreen_bare_newline_action = {{ dx_postfix_postscreen_bare_newline_action }}
postscreen_bare_newline_enable = {{ dx_postfix_postscreen_bare_newline_enable }}
postscreen_bare_newline_ttl = {{ dx_postfix_postscreen_bare_newline_ttl }}
postscreen_blacklist_action = {{ dx_postfix_postscreen_blacklist_action }}
postscreen_cache_cleanup_interval = {{ dx_postfix_postscreen_cache_cleanup_interval }}
postscreen_cache_map = {{ dx_postfix_postscreen_cache_map }}
postscreen_cache_retention_time = {{ dx_postfix_postscreen_cache_retention_time }}
postscreen_client_connection_count_limit = {{ dx_postfix_postscreen_client_connection_count_limit }}
postscreen_command_count_limit = {{ dx_postfix_postscreen_command_count_limit }}
postscreen_command_filter = {{ dx_postfix_postscreen_command_filter }}
postscreen_command_time_limit = {{ dx_postfix_postscreen_command_time_limit }}
postscreen_disable_vrfy_command = {{ dx_postfix_postscreen_disable_vrfy_command }}
postscreen_discard_ehlo_keyword_address_maps = {{ dx_postfix_postscreen_discard_ehlo_keyword_address_maps }}
postscreen_discard_ehlo_keywords = {{ dx_postfix_postscreen_discard_ehlo_keywords }}
postscreen_dnsbl_action = {{ dx_postfix_postscreen_dnsbl_action }}
postscreen_dnsbl_max_ttl = {{ dx_postfix_postscreen_dnsbl_max_ttl }}
postscreen_dnsbl_min_ttl = {{ dx_postfix_postscreen_dnsbl_min_ttl }}
postscreen_dnsbl_reply_map = {{ dx_postfix_postscreen_dnsbl_reply_map }}
postscreen_dnsbl_sites = {{ dx_postfix_postscreen_dnsbl_sites }}
postscreen_dnsbl_threshold = {{ dx_postfix_postscreen_dnsbl_threshold }}
postscreen_dnsbl_timeout = {{ dx_postfix_postscreen_dnsbl_timeout }}
postscreen_dnsbl_whitelist_threshold = {{ dx_postfix_postscreen_dnsbl_whitelist_threshold }}
postscreen_enforce_tls = {{ dx_postfix_postscreen_enforce_tls }}
postscreen_expansion_filter = {{ dx_postfix_postscreen_expansion_filter }}
postscreen_forbidden_commands = {{ dx_postfix_postscreen_forbidden_commands }}
postscreen_greet_action = {{ dx_postfix_postscreen_greet_action }}
postscreen_greet_banner = {{ dx_postfix_postscreen_greet_banner }}
postscreen_greet_ttl = {{ dx_postfix_postscreen_greet_ttl }}
postscreen_greet_wait = {{ dx_postfix_postscreen_greet_wait }}
postscreen_helo_required = {{ dx_postfix_postscreen_helo_required }}
postscreen_non_smtp_command_action = {{ dx_postfix_postscreen_non_smtp_command_action }}
postscreen_non_smtp_command_enable = {{ dx_postfix_postscreen_non_smtp_command_enable }}
postscreen_non_smtp_command_ttl = {{ dx_postfix_postscreen_non_smtp_command_ttl }}
postscreen_pipelining_action = {{ dx_postfix_postscreen_pipelining_action }}
postscreen_pipelining_enable = {{ dx_postfix_postscreen_pipelining_enable }}
postscreen_pipelining_ttl = {{ dx_postfix_postscreen_pipelining_ttl }}
postscreen_post_queue_limit = {{ dx_postfix_postscreen_post_queue_limit }}
postscreen_pre_queue_limit = {{ dx_postfix_postscreen_pre_queue_limit }}
postscreen_reject_footer = {{ dx_postfix_postscreen_reject_footer }}
postscreen_reject_footer_maps = {{ dx_postfix_postscreen_reject_footer_maps }}
postscreen_tls_security_level = {{ dx_postfix_postscreen_tls_security_level }}
postscreen_upstream_proxy_protocol = {{ dx_postfix_postscreen_upstream_proxy_protocol }}
postscreen_upstream_proxy_timeout = {{ dx_postfix_postscreen_upstream_proxy_timeout }}
postscreen_use_tls = {{ dx_postfix_postscreen_use_tls }}
postscreen_watchdog_timeout = {{ dx_postfix_postscreen_watchdog_timeout }}
postscreen_whitelist_interfaces = {{ dx_postfix_postscreen_whitelist_interfaces }}
prepend_delivered_header = {{ dx_postfix_prepend_delivered_header }}
process_id = {{ dx_postfix_process_id }}
process_id_directory = {{ dx_postfix_process_id_directory }}
process_name = {{ dx_postfix_process_name }}
propagate_unmatched_extensions = {{ dx_postfix_propagate_unmatched_extensions }}
proxy_interfaces = {{ dx_postfix_proxy_interfaces }}
proxy_read_maps = {{ dx_postfix_proxy_read_maps }}
proxy_write_maps = {{ dx_postfix_proxy_write_maps }}
proxymap_service_name = {{ dx_postfix_proxymap_service_name }}
proxywrite_service_name = {{ dx_postfix_proxywrite_service_name }}
qmgr_clog_warn_time = {{ dx_postfix_qmgr_clog_warn_time }}
qmgr_daemon_timeout = {{ dx_postfix_qmgr_daemon_timeout }}
qmgr_fudge_factor = {{ dx_postfix_qmgr_fudge_factor }}
qmgr_ipc_timeout = {{ dx_postfix_qmgr_ipc_timeout }}
qmgr_message_active_limit = {{ dx_postfix_qmgr_message_active_limit }}
qmgr_message_recipient_limit = {{ dx_postfix_qmgr_message_recipient_limit }}
qmgr_message_recipient_minimum = {{ dx_postfix_qmgr_message_recipient_minimum }}
qmqpd_authorized_clients = {{ dx_postfix_qmqpd_authorized_clients }}
qmqpd_client_port_logging = {{ dx_postfix_qmqpd_client_port_logging }}
qmqpd_error_delay = {{ dx_postfix_qmqpd_error_delay }}
qmqpd_timeout = {{ dx_postfix_qmqpd_timeout }}
queue_directory = {{ dx_postfix_queue_directory }}
queue_file_attribute_count_limit = {{ dx_postfix_queue_file_attribute_count_limit }}
queue_minfree = {{ dx_postfix_queue_minfree }}
queue_run_delay = {{ dx_postfix_queue_run_delay }}
queue_service_name = {{ dx_postfix_queue_service_name }}
rbl_reply_maps = {{ dx_postfix_rbl_reply_maps }}
readme_directory = {{ dx_postfix_readme_directory }}
receive_override_options = {{ dx_postfix_receive_override_options }}
recipient_bcc_maps = {{ dx_postfix_recipient_bcc_maps }}
recipient_canonical_classes = {{ dx_postfix_recipient_canonical_classes }}
recipient_canonical_maps = {{ dx_postfix_recipient_canonical_maps }}
recipient_delimiter = {{ dx_postfix_recipient_delimiter }}
reject_code = {{ dx_postfix_reject_code }}
reject_tempfail_action = {{ dx_postfix_reject_tempfail_action }}
relay_clientcerts = {{ dx_postfix_relay_clientcerts }}
relay_delivery_slot_cost = {{ dx_postfix_relay_delivery_slot_cost }}
relay_delivery_slot_discount = {{ dx_postfix_relay_delivery_slot_discount }}
relay_delivery_slot_loan = {{ dx_postfix_relay_delivery_slot_loan }}
relay_destination_concurrency_failed_cohort_limit = {{ dx_postfix_relay_destination_concurrency_failed_cohort_limit }}
relay_destination_concurrency_limit = {{ dx_postfix_relay_destination_concurrency_limit }}
relay_destination_concurrency_negative_feedback = {{ dx_postfix_relay_destination_concurrency_negative_feedback }}
relay_destination_concurrency_positive_feedback = {{ dx_postfix_relay_destination_concurrency_positive_feedback }}
relay_destination_rate_delay = {{ dx_postfix_relay_destination_rate_delay }}
relay_destination_recipient_limit = {{ dx_postfix_relay_destination_recipient_limit }}
relay_domains = {{ dx_postfix_relay_domains }}
relay_domains_reject_code = {{ dx_postfix_relay_domains_reject_code }}
relay_extra_recipient_limit = {{ dx_postfix_relay_extra_recipient_limit }}
relay_initial_destination_concurrency = {{ dx_postfix_relay_initial_destination_concurrency }}
relay_minimum_delivery_slots = {{ dx_postfix_relay_minimum_delivery_slots }}
relay_recipient_limit = {{ dx_postfix_relay_recipient_limit }}
relay_recipient_maps = {{ dx_postfix_relay_recipient_maps }}
relay_recipient_refill_delay = {{ dx_postfix_relay_recipient_refill_delay }}
relay_recipient_refill_limit = {{ dx_postfix_relay_recipient_refill_limit }}
relay_transport = {{ dx_postfix_relay_transport }}
relay_transport_rate_delay = {{ dx_postfix_relay_transport_rate_delay }}
relayhost = {{ dx_postfix_relayhost }}
relocated_maps = {{ dx_postfix_relocated_maps }}
remote_header_rewrite_domain = {{ dx_postfix_remote_header_rewrite_domain }}
require_home_directory = {{ dx_postfix_require_home_directory }}
reset_owner_alias = {{ dx_postfix_reset_owner_alias }}
resolve_dequoted_address = {{ dx_postfix_resolve_dequoted_address }}
resolve_null_domain = {{ dx_postfix_resolve_null_domain }}
resolve_numeric_domain = {{ dx_postfix_resolve_numeric_domain }}
retry_delivery_slot_cost = {{ dx_postfix_retry_delivery_slot_cost }}
retry_delivery_slot_discount = {{ dx_postfix_retry_delivery_slot_discount }}
retry_delivery_slot_loan = {{ dx_postfix_retry_delivery_slot_loan }}
retry_destination_concurrency_failed_cohort_limit = {{ dx_postfix_retry_destination_concurrency_failed_cohort_limit }}
retry_destination_concurrency_limit = {{ dx_postfix_retry_destination_concurrency_limit }}
retry_destination_concurrency_negative_feedback = {{ dx_postfix_retry_destination_concurrency_negative_feedback }}
retry_destination_concurrency_positive_feedback = {{ dx_postfix_retry_destination_concurrency_positive_feedback }}
retry_destination_rate_delay = {{ dx_postfix_retry_destination_rate_delay }}
retry_destination_recipient_limit = {{ dx_postfix_retry_destination_recipient_limit }}
retry_extra_recipient_limit = {{ dx_postfix_retry_extra_recipient_limit }}
retry_initial_destination_concurrency = {{ dx_postfix_retry_initial_destination_concurrency }}
retry_minimum_delivery_slots = {{ dx_postfix_retry_minimum_delivery_slots }}
retry_recipient_limit = {{ dx_postfix_retry_recipient_limit }}
retry_recipient_refill_delay = {{ dx_postfix_retry_recipient_refill_delay }}
retry_recipient_refill_limit = {{ dx_postfix_retry_recipient_refill_limit }}
retry_transport_rate_delay = {{ dx_postfix_retry_transport_rate_delay }}
rewrite_service_name = {{ dx_postfix_rewrite_service_name }}
rhel_ipv6_normalize = {{ dx_postfix_rhel_ipv6_normalize }}
sample_directory = {{ dx_postfix_sample_directory }}
send_cyrus_sasl_authzid = {{ dx_postfix_send_cyrus_sasl_authzid }}
sender_bcc_maps = {{ dx_postfix_sender_bcc_maps }}
sender_canonical_classes = {{ dx_postfix_sender_canonical_classes }}
sender_canonical_maps = {{ dx_postfix_sender_canonical_maps }}
sender_dependent_default_transport_maps = {{ dx_postfix_sender_dependent_default_transport_maps }}
sender_dependent_relayhost_maps = {{ dx_postfix_sender_dependent_relayhost_maps }}
sendmail_fix_line_endings = {{ dx_postfix_sendmail_fix_line_endings }}
sendmail_path = {{ dx_postfix_sendmail_path }}
service_name = {{ dx_postfix_service_name }}
service_throttle_time = {{ dx_postfix_service_throttle_time }}
setgid_group = {{ dx_postfix_setgid_group }}
shlib_directory = {{ dx_postfix_shlib_directory }}
show_user_unknown_table_name = {{ dx_postfix_show_user_unknown_table_name }}
showq_service_name = {{ dx_postfix_showq_service_name }}
smtp_address_preference = {{ dx_postfix_smtp_address_preference }}
smtp_address_verify_target = {{ dx_postfix_smtp_address_verify_target }}
smtp_always_send_ehlo = {{ dx_postfix_smtp_always_send_ehlo }}
smtp_balance_inet_protocols = {{ dx_postfix_smtp_balance_inet_protocols }}
smtp_bind_address = {{ dx_postfix_smtp_bind_address }}
smtp_bind_address6 = {{ dx_postfix_smtp_bind_address6 }}
smtp_body_checks = {{ dx_postfix_smtp_body_checks }}
smtp_cname_overrides_servername = {{ dx_postfix_smtp_cname_overrides_servername }}
smtp_connect_timeout = {{ dx_postfix_smtp_connect_timeout }}
smtp_connection_cache_destinations = {{ dx_postfix_smtp_connection_cache_destinations }}
smtp_connection_cache_on_demand = {{ dx_postfix_smtp_connection_cache_on_demand }}
smtp_connection_cache_time_limit = {{ dx_postfix_smtp_connection_cache_time_limit }}
smtp_connection_reuse_count_limit = {{ dx_postfix_smtp_connection_reuse_count_limit }}
smtp_connection_reuse_time_limit = {{ dx_postfix_smtp_connection_reuse_time_limit }}
smtp_data_done_timeout = {{ dx_postfix_smtp_data_done_timeout }}
smtp_data_init_timeout = {{ dx_postfix_smtp_data_init_timeout }}
smtp_data_xfer_timeout = {{ dx_postfix_smtp_data_xfer_timeout }}
smtp_defer_if_no_mx_address_found = {{ dx_postfix_smtp_defer_if_no_mx_address_found }}
smtp_delivery_slot_cost = {{ dx_postfix_smtp_delivery_slot_cost }}
smtp_delivery_slot_discount = {{ dx_postfix_smtp_delivery_slot_discount }}
smtp_delivery_slot_loan = {{ dx_postfix_smtp_delivery_slot_loan }}
smtp_delivery_status_filter = {{ dx_postfix_smtp_delivery_status_filter }}
smtp_destination_concurrency_failed_cohort_limit = {{ dx_postfix_smtp_destination_concurrency_failed_cohort_limit }}
smtp_destination_concurrency_limit = {{ dx_postfix_smtp_destination_concurrency_limit }}
smtp_destination_concurrency_negative_feedback = {{ dx_postfix_smtp_destination_concurrency_negative_feedback }}
smtp_destination_concurrency_positive_feedback = {{ dx_postfix_smtp_destination_concurrency_positive_feedback }}
smtp_destination_rate_delay = {{ dx_postfix_smtp_destination_rate_delay }}
smtp_destination_recipient_limit = {{ dx_postfix_smtp_destination_recipient_limit }}
smtp_discard_ehlo_keyword_address_maps = {{ dx_postfix_smtp_discard_ehlo_keyword_address_maps }}
smtp_discard_ehlo_keywords = {{ dx_postfix_smtp_discard_ehlo_keywords }}
smtp_dns_reply_filter = {{ dx_postfix_smtp_dns_reply_filter }}
smtp_dns_resolver_options = {{ dx_postfix_smtp_dns_resolver_options }}
smtp_dns_support_level = {{ dx_postfix_smtp_dns_support_level }}
smtp_enforce_tls = {{ dx_postfix_smtp_enforce_tls }}
smtp_extra_recipient_limit = {{ dx_postfix_smtp_extra_recipient_limit }}
smtp_fallback_relay = {{ dx_postfix_smtp_fallback_relay }}
smtp_generic_maps = {{ dx_postfix_smtp_generic_maps }}
smtp_header_checks = {{ dx_postfix_smtp_header_checks }}
smtp_helo_name = {{ dx_postfix_smtp_helo_name }}
smtp_helo_timeout = {{ dx_postfix_smtp_helo_timeout }}
smtp_host_lookup = {{ dx_postfix_smtp_host_lookup }}
smtp_initial_destination_concurrency = {{ dx_postfix_smtp_initial_destination_concurrency }}
smtp_line_length_limit = {{ dx_postfix_smtp_line_length_limit }}
smtp_mail_timeout = {{ dx_postfix_smtp_mail_timeout }}
smtp_mime_header_checks = {{ dx_postfix_smtp_mime_header_checks }}
smtp_minimum_delivery_slots = {{ dx_postfix_smtp_minimum_delivery_slots }}
smtp_mx_address_limit = {{ dx_postfix_smtp_mx_address_limit }}
smtp_mx_session_limit = {{ dx_postfix_smtp_mx_session_limit }}
smtp_nested_header_checks = {{ dx_postfix_smtp_nested_header_checks }}
smtp_never_send_ehlo = {{ dx_postfix_smtp_never_send_ehlo }}
smtp_per_record_deadline = {{ dx_postfix_smtp_per_record_deadline }}
smtp_pix_workaround_delay_time = {{ dx_postfix_smtp_pix_workaround_delay_time }}
smtp_pix_workaround_maps = {{ dx_postfix_smtp_pix_workaround_maps }}
smtp_pix_workaround_threshold_time = {{ dx_postfix_smtp_pix_workaround_threshold_time }}
smtp_pix_workarounds = {{ dx_postfix_smtp_pix_workarounds }}
smtp_quit_timeout = {{ dx_postfix_smtp_quit_timeout }}
smtp_quote_rfc821_envelope = {{ dx_postfix_smtp_quote_rfc821_envelope }}
smtp_randomize_addresses = {{ dx_postfix_smtp_randomize_addresses }}
smtp_rcpt_timeout = {{ dx_postfix_smtp_rcpt_timeout }}
smtp_recipient_limit = {{ dx_postfix_smtp_recipient_limit }}
smtp_recipient_refill_delay = {{ dx_postfix_smtp_recipient_refill_delay }}
smtp_recipient_refill_limit = {{ dx_postfix_smtp_recipient_refill_limit }}
smtp_reply_filter = {{ dx_postfix_smtp_reply_filter }}
smtp_rset_timeout = {{ dx_postfix_smtp_rset_timeout }}
smtp_sasl_auth_cache_name = {{ dx_postfix_smtp_sasl_auth_cache_name }}
smtp_sasl_auth_cache_time = {{ dx_postfix_smtp_sasl_auth_cache_time }}
smtp_sasl_auth_enable = {{ dx_postfix_smtp_sasl_auth_enable }}
smtp_sasl_auth_soft_bounce = {{ dx_postfix_smtp_sasl_auth_soft_bounce }}
smtp_sasl_mechanism_filter = {{ dx_postfix_smtp_sasl_mechanism_filter }}
smtp_sasl_password_maps = {{ dx_postfix_smtp_sasl_password_maps }}
smtp_sasl_path = {{ dx_postfix_smtp_sasl_path }}
smtp_sasl_security_options = {{ dx_postfix_smtp_sasl_security_options }}
smtp_sasl_tls_security_options = {{ dx_postfix_smtp_sasl_tls_security_options }}
smtp_sasl_tls_verified_security_options = {{ dx_postfix_smtp_sasl_tls_verified_security_options }}
smtp_sasl_type = {{ dx_postfix_smtp_sasl_type }}
smtp_send_dummy_mail_auth = {{ dx_postfix_smtp_send_dummy_mail_auth }}
smtp_send_xforward_command = {{ dx_postfix_smtp_send_xforward_command }}
smtp_sender_dependent_authentication = {{ dx_postfix_smtp_sender_dependent_authentication }}
smtp_skip_5xx_greeting = {{ dx_postfix_smtp_skip_5xx_greeting }}
smtp_skip_quit_response = {{ dx_postfix_smtp_skip_quit_response }}
smtp_starttls_timeout = {{ dx_postfix_smtp_starttls_timeout }}
smtp_tcp_port = {{ dx_postfix_smtp_tcp_port }}
smtp_tls_CAfile = {{ dx_postfix_smtp_tls_CAfile }}
smtp_tls_CApath = {{ dx_postfix_smtp_tls_CApath }}
smtp_tls_block_early_mail_reply = {{ dx_postfix_smtp_tls_block_early_mail_reply }}
smtp_tls_cert_file = {{ dx_postfix_smtp_tls_cert_file }}
smtp_tls_chain_files = {{ dx_postfix_smtp_tls_chain_files }}
smtp_tls_ciphers = {{ dx_postfix_smtp_tls_ciphers }}
smtp_tls_connection_reuse = {{ dx_postfix_smtp_tls_connection_reuse }}
smtp_tls_dane_insecure_mx_policy = {{ dx_postfix_smtp_tls_dane_insecure_mx_policy }}
smtp_tls_dcert_file = {{ dx_postfix_smtp_tls_dcert_file }}
smtp_tls_dkey_file = {{ dx_postfix_smtp_tls_dkey_file }}
smtp_tls_eccert_file = {{ dx_postfix_smtp_tls_eccert_file }}
smtp_tls_eckey_file = {{ dx_postfix_smtp_tls_eckey_file }}
smtp_tls_enforce_peername = {{ dx_postfix_smtp_tls_enforce_peername }}
smtp_tls_exclude_ciphers = {{ dx_postfix_smtp_tls_exclude_ciphers }}
smtp_tls_fingerprint_cert_match = {{ dx_postfix_smtp_tls_fingerprint_cert_match }}
smtp_tls_fingerprint_digest = {{ dx_postfix_smtp_tls_fingerprint_digest }}
smtp_tls_force_insecure_host_tlsa_lookup = {{ dx_postfix_smtp_tls_force_insecure_host_tlsa_lookup }}
smtp_tls_key_file = {{ dx_postfix_smtp_tls_key_file }}
smtp_tls_loglevel = {{ dx_postfix_smtp_tls_loglevel }}
smtp_tls_mandatory_ciphers = {{ dx_postfix_smtp_tls_mandatory_ciphers }}
smtp_tls_mandatory_exclude_ciphers = {{ dx_postfix_smtp_tls_mandatory_exclude_ciphers }}
smtp_tls_mandatory_protocols = {{ dx_postfix_smtp_tls_mandatory_protocols }}
smtp_tls_note_starttls_offer = {{ dx_postfix_smtp_tls_note_starttls_offer }}
smtp_tls_per_site = {{ dx_postfix_smtp_tls_per_site }}
smtp_tls_policy_maps = {{ dx_postfix_smtp_tls_policy_maps }}
smtp_tls_protocols = {{ dx_postfix_smtp_tls_protocols }}
smtp_tls_scert_verifydepth = {{ dx_postfix_smtp_tls_scert_verifydepth }}
smtp_tls_secure_cert_match = {{ dx_postfix_smtp_tls_secure_cert_match }}
smtp_tls_security_level = {{ dx_postfix_smtp_tls_security_level }}
smtp_tls_servername = {{ dx_postfix_smtp_tls_servername }}
smtp_tls_session_cache_database = {{ dx_postfix_smtp_tls_session_cache_database }}
smtp_tls_session_cache_timeout = {{ dx_postfix_smtp_tls_session_cache_timeout }}
smtp_tls_trust_anchor_file = {{ dx_postfix_smtp_tls_trust_anchor_file }}
smtp_tls_verify_cert_match = {{ dx_postfix_smtp_tls_verify_cert_match }}
smtp_tls_wrappermode = {{ dx_postfix_smtp_tls_wrappermode }}
smtp_transport_rate_delay = {{ dx_postfix_smtp_transport_rate_delay }}
smtp_use_tls = {{ dx_postfix_smtp_use_tls }}
smtp_xforward_timeout = {{ dx_postfix_smtp_xforward_timeout }}
smtpd_authorized_verp_clients = {{ dx_postfix_smtpd_authorized_verp_clients }}
smtpd_authorized_xclient_hosts = {{ dx_postfix_smtpd_authorized_xclient_hosts }}
smtpd_authorized_xforward_hosts = {{ dx_postfix_smtpd_authorized_xforward_hosts }}
smtpd_banner = {{ dx_postfix_smtpd_banner }}
smtpd_client_auth_rate_limit = {{ dx_postfix_smtpd_client_auth_rate_limit }}
smtpd_client_connection_count_limit = {{ dx_postfix_smtpd_client_connection_count_limit }}
smtpd_client_connection_rate_limit = {{ dx_postfix_smtpd_client_connection_rate_limit }}
smtpd_client_event_limit_exceptions = {{ dx_postfix_smtpd_client_event_limit_exceptions }}
smtpd_client_message_rate_limit = {{ dx_postfix_smtpd_client_message_rate_limit }}
smtpd_client_new_tls_session_rate_limit = {{ dx_postfix_smtpd_client_new_tls_session_rate_limit }}
smtpd_client_port_logging = {{ dx_postfix_smtpd_client_port_logging }}
smtpd_client_recipient_rate_limit = {{ dx_postfix_smtpd_client_recipient_rate_limit }}
smtpd_client_restrictions = {{ dx_postfix_smtpd_client_restrictions }}
smtpd_command_filter = {{ dx_postfix_smtpd_command_filter }}
smtpd_data_restrictions = {{ dx_postfix_smtpd_data_restrictions }}
smtpd_delay_open_until_valid_rcpt = {{ dx_postfix_smtpd_delay_open_until_valid_rcpt }}
smtpd_delay_reject = {{ dx_postfix_smtpd_delay_reject }}
smtpd_discard_ehlo_keyword_address_maps = {{ dx_postfix_smtpd_discard_ehlo_keyword_address_maps }}
smtpd_discard_ehlo_keywords = {{ dx_postfix_smtpd_discard_ehlo_keywords }}
smtpd_dns_reply_filter = {{ dx_postfix_smtpd_dns_reply_filter }}
smtpd_end_of_data_restrictions = {{ dx_postfix_smtpd_end_of_data_restrictions }}
smtpd_enforce_tls = {{ dx_postfix_smtpd_enforce_tls }}
smtpd_error_sleep_time = {{ dx_postfix_smtpd_error_sleep_time }}
smtpd_etrn_restrictions = {{ dx_postfix_smtpd_etrn_restrictions }}
smtpd_expansion_filter = {{ dx_postfix_smtpd_expansion_filter }}
smtpd_forbidden_commands = {{ dx_postfix_smtpd_forbidden_commands }}
smtpd_hard_error_limit = {{ dx_postfix_smtpd_hard_error_limit }}
smtpd_helo_required = {{ dx_postfix_smtpd_helo_required }}
smtpd_helo_restrictions = {{ dx_postfix_smtpd_helo_restrictions }}
smtpd_history_flush_threshold = {{ dx_postfix_smtpd_history_flush_threshold }}
smtpd_junk_command_limit = {{ dx_postfix_smtpd_junk_command_limit }}
smtpd_log_access_permit_actions = {{ dx_postfix_smtpd_log_access_permit_actions }}
smtpd_milter_maps = {{ dx_postfix_smtpd_milter_maps }}
smtpd_milters = {{ dx_postfix_smtpd_milters }}
smtpd_noop_commands = {{ dx_postfix_smtpd_noop_commands }}
smtpd_null_access_lookup_key = {{ dx_postfix_smtpd_null_access_lookup_key }}
smtpd_peername_lookup = {{ dx_postfix_smtpd_peername_lookup }}
smtpd_per_record_deadline = {{ dx_postfix_smtpd_per_record_deadline }}
smtpd_policy_service_default_action = {{ dx_postfix_smtpd_policy_service_default_action }}
smtpd_policy_service_max_idle = {{ dx_postfix_smtpd_policy_service_max_idle }}
smtpd_policy_service_max_ttl = {{ dx_postfix_smtpd_policy_service_max_ttl }}
smtpd_policy_service_policy_context = {{ dx_postfix_smtpd_policy_service_policy_context }}
smtpd_policy_service_request_limit = {{ dx_postfix_smtpd_policy_service_request_limit }}
smtpd_policy_service_retry_delay = {{ dx_postfix_smtpd_policy_service_retry_delay }}
smtpd_policy_service_timeout = {{ dx_postfix_smtpd_policy_service_timeout }}
smtpd_policy_service_try_limit = {{ dx_postfix_smtpd_policy_service_try_limit }}
smtpd_proxy_ehlo = {{ dx_postfix_smtpd_proxy_ehlo }}
smtpd_proxy_filter = {{ dx_postfix_smtpd_proxy_filter }}
smtpd_proxy_options = {{ dx_postfix_smtpd_proxy_options }}
smtpd_proxy_timeout = {{ dx_postfix_smtpd_proxy_timeout }}
smtpd_recipient_limit = {{ dx_postfix_smtpd_recipient_limit }}
smtpd_recipient_overshoot_limit = {{ dx_postfix_smtpd_recipient_overshoot_limit }}
smtpd_recipient_restrictions = {{ dx_postfix_smtpd_recipient_restrictions }}
smtpd_reject_footer = {{ dx_postfix_smtpd_reject_footer }}
smtpd_reject_footer_maps = {{ dx_postfix_smtpd_reject_footer_maps }}
smtpd_reject_unlisted_recipient = {{ dx_postfix_smtpd_reject_unlisted_recipient }}
smtpd_reject_unlisted_sender = {{ dx_postfix_smtpd_reject_unlisted_sender }}
smtpd_relay_restrictions = {{ dx_postfix_smtpd_relay_restrictions }}
smtpd_restriction_classes = {{ dx_postfix_smtpd_restriction_classes }}
smtpd_sasl_auth_enable = {{ dx_postfix_smtpd_sasl_auth_enable }}
smtpd_sasl_authenticated_header = {{ dx_postfix_smtpd_sasl_authenticated_header }}
smtpd_sasl_exceptions_networks = {{ dx_postfix_smtpd_sasl_exceptions_networks }}
smtpd_sasl_local_domain = {{ dx_postfix_smtpd_sasl_local_domain }}
smtpd_sasl_path = {{ dx_postfix_smtpd_sasl_path }}
smtpd_sasl_response_limit = {{ dx_postfix_smtpd_sasl_response_limit }}
smtpd_sasl_security_options = {{ dx_postfix_smtpd_sasl_security_options }}
smtpd_sasl_service = {{ dx_postfix_smtpd_sasl_service }}
smtpd_sasl_tls_security_options = {{ dx_postfix_smtpd_sasl_tls_security_options }}
smtpd_sasl_type = {{ dx_postfix_smtpd_sasl_type }}
smtpd_sender_login_maps = {{ dx_postfix_smtpd_sender_login_maps }}
smtpd_sender_restrictions = {{ dx_postfix_smtpd_sender_restrictions }}
smtpd_service_name = {{ dx_postfix_smtpd_service_name }}
smtpd_soft_error_limit = {{ dx_postfix_smtpd_soft_error_limit }}
smtpd_starttls_timeout = {{ dx_postfix_smtpd_starttls_timeout }}
smtpd_timeout = {{ dx_postfix_smtpd_timeout }}
smtpd_tls_CAfile = {{ dx_postfix_smtpd_tls_CAfile }}
smtpd_tls_CApath = {{ dx_postfix_smtpd_tls_CApath }}
smtpd_tls_always_issue_session_ids = {{ dx_postfix_smtpd_tls_always_issue_session_ids }}
smtpd_tls_ask_ccert = {{ dx_postfix_smtpd_tls_ask_ccert }}
smtpd_tls_auth_only = {{ dx_postfix_smtpd_tls_auth_only }}
smtpd_tls_ccert_verifydepth = {{ dx_postfix_smtpd_tls_ccert_verifydepth }}
smtpd_tls_cert_file = {{ dx_postfix_smtpd_tls_cert_file }}
smtpd_tls_chain_files = {{ dx_postfix_smtpd_tls_chain_files }}
smtpd_tls_ciphers = {{ dx_postfix_smtpd_tls_ciphers }}
smtpd_tls_dcert_file = {{ dx_postfix_smtpd_tls_dcert_file }}
smtpd_tls_dh1024_param_file = {{ dx_postfix_smtpd_tls_dh1024_param_file }}
smtpd_tls_dh512_param_file = {{ dx_postfix_smtpd_tls_dh512_param_file }}
smtpd_tls_dkey_file = {{ dx_postfix_smtpd_tls_dkey_file }}
smtpd_tls_eccert_file = {{ dx_postfix_smtpd_tls_eccert_file }}
smtpd_tls_eckey_file = {{ dx_postfix_smtpd_tls_eckey_file }}
smtpd_tls_eecdh_grade = {{ dx_postfix_smtpd_tls_eecdh_grade }}
smtpd_tls_exclude_ciphers = {{ dx_postfix_smtpd_tls_exclude_ciphers }}
smtpd_tls_fingerprint_digest = {{ dx_postfix_smtpd_tls_fingerprint_digest }}
smtpd_tls_key_file = {{ dx_postfix_smtpd_tls_key_file }}
smtpd_tls_loglevel = {{ dx_postfix_smtpd_tls_loglevel }}
smtpd_tls_mandatory_ciphers = {{ dx_postfix_smtpd_tls_mandatory_ciphers }}
smtpd_tls_mandatory_exclude_ciphers = {{ dx_postfix_smtpd_tls_mandatory_exclude_ciphers }}
smtpd_tls_mandatory_protocols = {{ dx_postfix_smtpd_tls_mandatory_protocols }}
smtpd_tls_protocols = {{ dx_postfix_smtpd_tls_protocols }}
smtpd_tls_received_header = {{ dx_postfix_smtpd_tls_received_header }}
smtpd_tls_req_ccert = {{ dx_postfix_smtpd_tls_req_ccert }}
smtpd_tls_security_level = {{ dx_postfix_smtpd_tls_security_level }}
smtpd_tls_session_cache_database = {{ dx_postfix_smtpd_tls_session_cache_database }}
smtpd_tls_session_cache_timeout = {{ dx_postfix_smtpd_tls_session_cache_timeout }}
smtpd_tls_wrappermode = {{ dx_postfix_smtpd_tls_wrappermode }}
smtpd_upstream_proxy_protocol = {{ dx_postfix_smtpd_upstream_proxy_protocol }}
smtpd_upstream_proxy_timeout = {{ dx_postfix_smtpd_upstream_proxy_timeout }}
smtpd_use_tls = {{ dx_postfix_smtpd_use_tls }}
smtputf8_autodetect_classes = {{ dx_postfix_smtputf8_autodetect_classes }}
smtputf8_enable = {{ dx_postfix_smtputf8_enable }}
soft_bounce = {{ dx_postfix_soft_bounce }}
stale_lock_time = {{ dx_postfix_stale_lock_time }}
stress = {{ dx_postfix_stress }}
strict_7bit_headers = {{ dx_postfix_strict_7bit_headers }}
strict_8bitmime = {{ dx_postfix_strict_8bitmime }}
strict_8bitmime_body = {{ dx_postfix_strict_8bitmime_body }}
strict_mailbox_ownership = {{ dx_postfix_strict_mailbox_ownership }}
strict_mime_encoding_domain = {{ dx_postfix_strict_mime_encoding_domain }}
strict_rfc821_envelopes = {{ dx_postfix_strict_rfc821_envelopes }}
strict_smtputf8 = {{ dx_postfix_strict_smtputf8 }}
sun_mailtool_compatibility = {{ dx_postfix_sun_mailtool_compatibility }}
swap_bangpath = {{ dx_postfix_swap_bangpath }}
syslog_facility = {{ dx_postfix_syslog_facility }}
syslog_name = {{ dx_postfix_syslog_name }}
tcp_windowsize = {{ dx_postfix_tcp_windowsize }}
tls_append_default_CA = {{ dx_postfix_tls_append_default_CA }}
tls_daemon_random_bytes = {{ dx_postfix_tls_daemon_random_bytes }}
tls_dane_digests = {{ dx_postfix_tls_dane_digests }}
tls_disable_workarounds = {{ dx_postfix_tls_disable_workarounds }}
tls_eecdh_auto_curves = {{ dx_postfix_tls_eecdh_auto_curves }}
tls_eecdh_strong_curve = {{ dx_postfix_tls_eecdh_strong_curve }}
tls_eecdh_ultra_curve = {{ dx_postfix_tls_eecdh_ultra_curve }}
tls_export_cipherlist = {{ dx_postfix_tls_export_cipherlist }}
tls_fast_shutdown_enable = {{ dx_postfix_tls_fast_shutdown_enable }}
tls_high_cipherlist = {{ dx_postfix_tls_high_cipherlist }}
tls_legacy_public_key_fingerprints = {{ dx_postfix_tls_legacy_public_key_fingerprints }}
tls_low_cipherlist = {{ dx_postfix_tls_low_cipherlist }}
tls_medium_cipherlist = {{ dx_postfix_tls_medium_cipherlist }}
tls_null_cipherlist = {{ dx_postfix_tls_null_cipherlist }}
tls_preempt_cipherlist = {{ dx_postfix_tls_preempt_cipherlist }}
tls_random_bytes = {{ dx_postfix_tls_random_bytes }}
tls_random_exchange_name = {{ dx_postfix_tls_random_exchange_name }}
tls_random_prng_update_period = {{ dx_postfix_tls_random_prng_update_period }}
tls_random_reseed_period = {{ dx_postfix_tls_random_reseed_period }}
tls_random_source = {{ dx_postfix_tls_random_source }}
tls_server_sni_maps = {{ dx_postfix_tls_server_sni_maps }}
tls_session_ticket_cipher = {{ dx_postfix_tls_session_ticket_cipher }}
tls_ssl_options = {{ dx_postfix_tls_ssl_options }}
tls_wildcard_matches_multiple_labels = {{ dx_postfix_tls_wildcard_matches_multiple_labels }}
tlsmgr_service_name = {{ dx_postfix_tlsmgr_service_name }}
tlsproxy_client_CAfile = {{ dx_postfix_tlsproxy_client_CAfile }}
tlsproxy_client_CApath = {{ dx_postfix_tlsproxy_client_CApath }}
tlsproxy_client_cert_file = {{ dx_postfix_tlsproxy_client_cert_file }}
tlsproxy_client_chain_files = {{ dx_postfix_tlsproxy_client_chain_files }}
tlsproxy_client_dcert_file = {{ dx_postfix_tlsproxy_client_dcert_file }}
tlsproxy_client_dkey_file = {{ dx_postfix_tlsproxy_client_dkey_file }}
tlsproxy_client_eccert_file = {{ dx_postfix_tlsproxy_client_eccert_file }}
tlsproxy_client_eckey_file = {{ dx_postfix_tlsproxy_client_eckey_file }}
tlsproxy_client_enforce_tls = {{ dx_postfix_tlsproxy_client_enforce_tls }}
tlsproxy_client_fingerprint_digest = {{ dx_postfix_tlsproxy_client_fingerprint_digest }}
tlsproxy_client_key_file = {{ dx_postfix_tlsproxy_client_key_file }}
tlsproxy_client_level = {{ dx_postfix_tlsproxy_client_level }}
tlsproxy_client_loglevel = {{ dx_postfix_tlsproxy_client_loglevel }}
tlsproxy_client_loglevel_parameter = {{ dx_postfix_tlsproxy_client_loglevel_parameter }}
tlsproxy_client_per_site = {{ dx_postfix_tlsproxy_client_per_site }}
tlsproxy_client_policy = {{ dx_postfix_tlsproxy_client_policy }}
tlsproxy_client_scert_verifydepth = {{ dx_postfix_tlsproxy_client_scert_verifydepth }}
tlsproxy_client_use_tls = {{ dx_postfix_tlsproxy_client_use_tls }}
tlsproxy_enforce_tls = {{ dx_postfix_tlsproxy_enforce_tls }}
tlsproxy_service_name = {{ dx_postfix_tlsproxy_service_name }}
tlsproxy_tls_CAfile = {{ dx_postfix_tlsproxy_tls_CAfile }}
tlsproxy_tls_CApath = {{ dx_postfix_tlsproxy_tls_CApath }}
tlsproxy_tls_always_issue_session_ids = {{ dx_postfix_tlsproxy_tls_always_issue_session_ids }}
tlsproxy_tls_ask_ccert = {{ dx_postfix_tlsproxy_tls_ask_ccert }}
tlsproxy_tls_ccert_verifydepth = {{ dx_postfix_tlsproxy_tls_ccert_verifydepth }}
tlsproxy_tls_cert_file = {{ dx_postfix_tlsproxy_tls_cert_file }}
tlsproxy_tls_chain_files = {{ dx_postfix_tlsproxy_tls_chain_files }}
tlsproxy_tls_ciphers = {{ dx_postfix_tlsproxy_tls_ciphers }}
tlsproxy_tls_dcert_file = {{ dx_postfix_tlsproxy_tls_dcert_file }}
tlsproxy_tls_dh1024_param_file = {{ dx_postfix_tlsproxy_tls_dh1024_param_file }}
tlsproxy_tls_dh512_param_file = {{ dx_postfix_tlsproxy_tls_dh512_param_file }}
tlsproxy_tls_dkey_file = {{ dx_postfix_tlsproxy_tls_dkey_file }}
tlsproxy_tls_eccert_file = {{ dx_postfix_tlsproxy_tls_eccert_file }}
tlsproxy_tls_eckey_file = {{ dx_postfix_tlsproxy_tls_eckey_file }}
tlsproxy_tls_eecdh_grade = {{ dx_postfix_tlsproxy_tls_eecdh_grade }}
tlsproxy_tls_exclude_ciphers = {{ dx_postfix_tlsproxy_tls_exclude_ciphers }}
tlsproxy_tls_fingerprint_digest = {{ dx_postfix_tlsproxy_tls_fingerprint_digest }}
tlsproxy_tls_key_file = {{ dx_postfix_tlsproxy_tls_key_file }}
tlsproxy_tls_loglevel = {{ dx_postfix_tlsproxy_tls_loglevel }}
tlsproxy_tls_mandatory_ciphers = {{ dx_postfix_tlsproxy_tls_mandatory_ciphers }}
tlsproxy_tls_mandatory_exclude_ciphers = {{ dx_postfix_tlsproxy_tls_mandatory_exclude_ciphers }}
tlsproxy_tls_mandatory_protocols = {{ dx_postfix_tlsproxy_tls_mandatory_protocols }}
tlsproxy_tls_protocols = {{ dx_postfix_tlsproxy_tls_protocols }}
tlsproxy_tls_req_ccert = {{ dx_postfix_tlsproxy_tls_req_ccert }}
tlsproxy_tls_security_level = {{ dx_postfix_tlsproxy_tls_security_level }}
tlsproxy_use_tls = {{ dx_postfix_tlsproxy_use_tls }}
tlsproxy_watchdog_timeout = {{ dx_postfix_tlsproxy_watchdog_timeout }}
trace_service_name = {{ dx_postfix_trace_service_name }}
transport_maps = {{ dx_postfix_transport_maps }}
transport_retry_time = {{ dx_postfix_transport_retry_time }}
trigger_timeout = {{ dx_postfix_trigger_timeout }}
undisclosed_recipients_header = {{ dx_postfix_undisclosed_recipients_header }}
unknown_address_reject_code = {{ dx_postfix_unknown_address_reject_code }}
unknown_address_tempfail_action = {{ dx_postfix_unknown_address_tempfail_action }}
unknown_client_reject_code = {{ dx_postfix_unknown_client_reject_code }}
unknown_helo_hostname_tempfail_action = {{ dx_postfix_unknown_helo_hostname_tempfail_action }}
unknown_hostname_reject_code = {{ dx_postfix_unknown_hostname_reject_code }}
unknown_local_recipient_reject_code = {{ dx_postfix_unknown_local_recipient_reject_code }}
unknown_relay_recipient_reject_code = {{ dx_postfix_unknown_relay_recipient_reject_code }}
unknown_virtual_alias_reject_code = {{ dx_postfix_unknown_virtual_alias_reject_code }}
unknown_virtual_mailbox_reject_code = {{ dx_postfix_unknown_virtual_mailbox_reject_code }}
unverified_recipient_defer_code = {{ dx_postfix_unverified_recipient_defer_code }}
unverified_recipient_reject_code = {{ dx_postfix_unverified_recipient_reject_code }}
unverified_recipient_reject_reason = {{ dx_postfix_unverified_recipient_reject_reason }}
unverified_recipient_tempfail_action = {{ dx_postfix_unverified_recipient_tempfail_action }}
unverified_sender_defer_code = {{ dx_postfix_unverified_sender_defer_code }}
unverified_sender_reject_code = {{ dx_postfix_unverified_sender_reject_code }}
unverified_sender_reject_reason = {{ dx_postfix_unverified_sender_reject_reason }}
unverified_sender_tempfail_action = {{ dx_postfix_unverified_sender_tempfail_action }}
verp_delimiter_filter = {{ dx_postfix_verp_delimiter_filter }}
virtual_alias_address_length_limit = {{ dx_postfix_virtual_alias_address_length_limit }}
virtual_alias_domains = {{ dx_postfix_virtual_alias_domains }}
virtual_alias_expansion_limit = {{ dx_postfix_virtual_alias_expansion_limit }}
virtual_alias_maps = {{ dx_postfix_virtual_alias_maps }}
virtual_alias_recursion_limit = {{ dx_postfix_virtual_alias_recursion_limit }}
virtual_delivery_slot_cost = {{ dx_postfix_virtual_delivery_slot_cost }}
virtual_delivery_slot_discount = {{ dx_postfix_virtual_delivery_slot_discount }}
virtual_delivery_slot_loan = {{ dx_postfix_virtual_delivery_slot_loan }}
virtual_delivery_status_filter = {{ dx_postfix_virtual_delivery_status_filter }}
virtual_destination_concurrency_failed_cohort_limit = {{ dx_postfix_virtual_destination_concurrency_failed_cohort_limit }}
virtual_destination_concurrency_limit = {{ dx_postfix_virtual_destination_concurrency_limit }}
virtual_destination_concurrency_negative_feedback = {{ dx_postfix_virtual_destination_concurrency_negative_feedback }}
virtual_destination_concurrency_positive_feedback = {{ dx_postfix_virtual_destination_concurrency_positive_feedback }}
virtual_destination_rate_delay = {{ dx_postfix_virtual_destination_rate_delay }}
virtual_destination_recipient_limit = {{ dx_postfix_virtual_destination_recipient_limit }}
virtual_extra_recipient_limit = {{ dx_postfix_virtual_extra_recipient_limit }}
virtual_gid_maps = {{ dx_postfix_virtual_gid_maps }}
virtual_initial_destination_concurrency = {{ dx_postfix_virtual_initial_destination_concurrency }}
virtual_mailbox_base = {{ dx_postfix_virtual_mailbox_base }}
virtual_mailbox_domains = {{ dx_postfix_virtual_mailbox_domains }}
virtual_mailbox_limit = {{ dx_postfix_virtual_mailbox_limit }}
virtual_mailbox_lock = {{ dx_postfix_virtual_mailbox_lock }}
virtual_mailbox_maps = {{ dx_postfix_virtual_mailbox_maps }}
virtual_minimum_delivery_slots = {{ dx_postfix_virtual_minimum_delivery_slots }}
virtual_minimum_uid = {{ dx_postfix_virtual_minimum_uid }}
virtual_recipient_limit = {{ dx_postfix_virtual_recipient_limit }}
virtual_recipient_refill_delay = {{ dx_postfix_virtual_recipient_refill_delay }}
virtual_recipient_refill_limit = {{ dx_postfix_virtual_recipient_refill_limit }}
virtual_transport = {{ dx_postfix_virtual_transport }}
virtual_transport_rate_delay = {{ dx_postfix_virtual_transport_rate_delay }}
virtual_uid_maps = {{ dx_postfix_virtual_uid_maps }}